<html>
  
<body style="background-color:#b3b3ff ">  
<title>Animal Adoption</title>  
 
<h1 style = "text-align:center;">Good Animal Adoption Centers</h1>
<h4 style = "text-align:center;color:white;">These are just some of the great adoption centers for specific animals you are looking for!</h4>

<h2><img src="https://media.istockphoto.com/id/1364223795/es/foto/foto-de-estudio-del-american-staffordshire-terrier-corriendo-aislado-sobre-fondo-blanco.jpg?s=612x612&w=0&k=20&c=TS-jC0Bc5y-_3ccZXTjze_SKn2B5puFXAehWYgdbxFI=" alt="Smiley face" style="float:right;width:200px;height:150px;"><ins>Dogs</ins></h2>
<p style = "color:white;">This is just a great center to look at when wanting to adopt a dog!</p>
<a href="https://www.sanantoniopetsalive.org/" target="_blank"><img src="https://www.sanantoniopetsalive.org/assets/logo_sapa.png" alt="pets alive" width= 100 length= 100></a>
<h6>
  ___________________________________________________________________________ 
</h6>
<h2><img src="https://media.istockphoto.com/id/1459675201/photo/gray-cat-with-a-yellow-ball.jpg?b=1&s=612x612&w=0&k=20&c=NO_gejeX1h8Qd7uf03XfTs_Iyk4pASho5CCWzpMVvFo=" alt="Smiley face" style="float:right;width:200px;height:120px;"><ins>Cats</ins></h2>
<p style = "color:white;">This is just a great center to look at when wanting to adopt a cat!</p>
<a href="https://kittensrescuenw.org/" target="_blank"><img src="https://kittensrescuenw.org/wp-content/uploads/2020/09/KittenRescue_Logo3.png" alt="pets alive" width= 300 length= 300></a>
<a href="mailto:adoptions@kittenrescue.org.">Kitten Rescue Email</a>
<h6>
  ___________________________________________________________________________
</h6>
<h2><ins>Others</ins></h2>
<p style = "color:white;"><img src="https://media.istockphoto.com/id/139936428/photo/cute-rabbit-isolated-on-white.jpg?b=1&s=612x612&w=0&k=20&c=zeobvA6GfsntKzCbO5CM0WXRxrHNM6QmVHuUNj-n8b0=" alt="Smiley face" style="float:right;width:200px;height:130px;">This is just a great center to look at when wanting to adopt other animals!</p>
<a href="https://bestfriends.org/" target="_blank"><img src="https://bestfriends.org/sites/default/files/styles/impact_icon/public/impact-image/dog_tag.png?itok=wiU1ao3Y" alt="all animal" width= 100 length= 100></a>
<a href="mailto:info@bestfriends.org">Bestfriends Email</a>

</body>
  
</html>
